@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-gray-200 antialiased font-sans;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-600;
  }
  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl;
  }
}
